/* styles/globals.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #d7d7d7;
}

.GlobalPage {
  position: relative;
  top: 85px;
}

h1 {

  font-size: 2rem;
  margin: 0;
}

h2 {

  font-size: 1.8rem;
  margin: 0;
}



.transitionyYInvert {
  transform: scale(-1);
}

@media screen and (min-width: 1024px) {
  .transitionSpecial {
    margin-top: -50px;
  }
}
@media screen and (min-width: 1400px) {
  .transitionSpecial {
    margin-top: -100px;
  }
}

a {
  padding: 20px;
}

.homeSubTitle {
  padding-left: 20px;
}