.link {
    text-decoration: none;
    position: relative;
    text-align: center;
    cursor: pointer;
    margin: 20px;

    a {
        color: #EFEFEF;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 2px;
        width: 100%;
        height: 15px;
        border-width: 3px;
        border-bottom-style:inset;
        transform: scaleX(0);
        color: azure;
        transition: transform 0.3s ease;
        top: 10px;
        transform-origin: left;
    }

    &:hover:after {
        transform: scaleX(1);
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 5;
    transition: transform 0.3s ease, opacity 0.3s ease;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .logo {
            max-width: 60px;
        }

        .hamburger {
            display: block;
            background: none;
            border: none;
            cursor: pointer;
            padding: 20px;
            z-index: 2;
        }

        .menu {
            list-style: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            
            opacity: 0;
            clip-path: circle(0% at top right);
            transition: clip-path 0.5s ease, opacity 0.3s ease;
        }

        .menuOpen {
            opacity: 1;
            clip-path: circle(150% at top right);

        }
    }
}

@media (min-width: 740px) {
    .header {
        &.visible {
            transform: translateY(0);
            opacity: 1;
        }

        &.hidden {
            transform: translateY(-100%);
            opacity: 0;
        }

        .container {
            .menu {
                position: static;
                display: flex;
                justify-content: flex-end;
                opacity: 1;
                clip-path: none;
                flex-direction: row;
                height: fit-content;
            }


            .hamburger {
                display: none;
            }
        }
    }
}