.link {
    color: inherit;
    text-decoration: none;
    position: relative;
    text-align: center;
    cursor: pointer;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%; // prendra automatiquement la largeur de l'élément
        height: 2px;
        background-color: #ffffff;
        transform: scaleX(0);
        transition: transform 0.3s ease;
        transform-origin: left;
    }

    &:hover:after {
        transform: scaleX(1); // barre qui s'étend
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    .container {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        &:first-child {
            z-index: 2;
        }

        a {
            z-index: 2;
        }

        .logo {
            text-decoration: none;
            color: white;
            font-size: 24px;
            max-width: 60px;
        }

        .hamburger {
            display: block;
            background: none;
            border: none;
            cursor: pointer;
            z-index: 2;
            padding: 20px;
        }

        .menu {
            list-style: none;
            display: none;
            position: fixed;
            gap: 20px;
            padding: 10px;
            opacity: 0;
            /* Caché par défaut */
            transform: translateY(-100%);
            /* En dehors de l'écran */
            transition: transform 0.3s ease-out, opacity 0.3s ease-out;


            li {
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 18px;
                }
            }
        }

        @media screen and (min-width: 740px) {

            .hamburger {
                display: none;
                background: none;
                border: none;
                cursor: pointer;
            }

            .menu {
                display: flex;
                position: relative;
                opacity: 1;
                transform: translateY(0%);
                padding: 0px;

                li {
                    a {
                        text-decoration: none;
                        color: white;
                        font-size: 18px;
                    }
                }
            }
        }

        /* Burger Menu Hidden */
        .menuOpen {
            position: fixed;
            height: 100%;
            width: 100%;
            left: 0px;
            // top: -100%;

            opacity: 1;
            transform: translateY(50%);
            transition: transform 1s ease-out, opacity 0.3s ease-out;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 1;
        }
    }

    @media screen and (min-width: 740px) {
        &.visible {
            transform: translateY(0);
            opacity: 1;
        }

        &.hidden {
            transform: translateY(-100%);
            opacity: 0;
        }
    }
}