.transition_ui {
    background: #3b5963;
    width: 100%;

    svg {
        display: block;
        width: 100%; // le SVG prend 100% de la largeur de l'écran
        height: auto; // ajustement automatique pour être responsive
    }

    @media screen and (min-width: 1024px) {
        grid-column: 1/3;

    }
}

